<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="WeiMo.MC"
    Publisher="CN=1EE206AC-AC8A-431D-96B3-FB09CA2F4964"
    Version="3.1.0.0" />

  <Properties>
    <DisplayName>智穗MC开服器</DisplayName>
    <PublisherDisplayName>WeiMo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>智穗MC开服器</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
    <!-- Windows App Runtime 依赖 -->
    <!--<PackageDependency Name="Microsoft.WindowsAppRuntime.1.8" MinVersion="1.8.2603.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />-->
  </Dependencies>

  <Resources>
    <Resource Language="zh-CN" />
    <Resource uap:Scale="100" />
    <Resource uap:Scale="125" />
    <Resource uap:Scale="150" />
    <Resource uap:Scale="200" />
    <Resource uap:Scale="400" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="zmsl.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="智穗MC开服器"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="智穗MC开服器"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>